header h1{
    font-family: "Playwrite GB J", cursive;
    font-weight: 400;
    background-image: url(images/headerbg.jpg);
    background-size: cover;
    width: 100%;
    padding: 4em 0em 4em 0em;
    margin: 0em;
    text-align: center;
    color: darkred;
    }
header{
    margin: 0em;
    }
header p{
    max-width: 45rem;
    width: 80%;
    margin-left: auto;
    margin-right: auto;
   
    }
header img{
    display: block;
    margin-left:auto;
    margin-right: auto;
    width: 80%;
    max-width: 45rem;
}

.main{
    max-width: 45rem;
    width: 90%;
    margin-left: auto;
    margin-right: auto;
    }

.tipimgafter{
        display: block;
        margin-left:auto;
        margin-right: auto;
        width: 100%;
        }

body{
    font-family: "Nunito", sans-serif; 
    margin: 0em;
    }
ul{
    list-style-type: none;
   
    }

.prerecinfo{
    background-color: rgb(255, 235, 197);
    display: block;
    
}

.prerecinfo h3{
    margin: 0em;
    padding: 0.3em 0em 0em 0em;
    font-family: "Playwrite GB J", cursive;
    color: darkred;

}

.prerecinfo p{
    margin: 0em;
    padding: 0.4em 0.5em 1.5em 0em;
    position: center;
}

.instructions img{
    display: block;
    margin-left:auto;
    margin-right: auto;
    width: 45%;
}

.instructions h2{
    font-family: "Playwrite GB J", cursive;
    color: darkred;
}
.instructions ol{
    max-width: 45rem;
    width: 90%;
    margin-left: auto;
    margin-right: auto;
    padding-left: 0;
}

.instructions ol::marker {
    font-weight: bolder;
    color: darkred
}

ol li{
    padding-bottom: 1em;
}

ol li::marker{
    font-weight: bold;
    color: darkred;
}

.assembly h3{
    font-family: "Playwrite GB J", cursive;
    color: darkred;
}
.assembly ol{
    max-width: 45rem;
    width: 90%;
    margin-left: auto;
    margin-right: auto;
    padding-left: 0;
    margin-bottom:0;
}

.instructions p{
    background-color: rgb(255, 235, 197);
    padding: 15px;
}

.source{
    margin-top: 5%;
    background-color: darkred;
}

.source h2{
    background-color: darkred;
    color: rgb(255, 235, 197);
    font-family: "Playwrite GB J", cursive;
    margin-bottom: 0;
    padding-left: 10%;
    padding-top: 15px;
}
.source p{
    background-color: darkred;
    color: rgb(255, 235, 197);
    margin-top:0;
    margin-bottom:0;
    padding-left: 10%;
    padding-bottom: 5%;
}

.source p a {
    color: rgb(255, 235, 197);
    
}

.source p a:hover {
    text-decoration: underlined;
}

.source p a:visited {
   color: white;}






@media (max-width: 500px) {
    header h1 { font-size:15pt; }
    body{ font-size: 10pt;}
    header p{ font-size: 10pt;}
    header img{ padding-top:5px;
                padding-bottom:15px;}
    .tip{padding-top: 10px;
        padding-bottom: 10px; }
    .instructions img{ padding-top:5px;
        padding-bottom:15px;}
    
}

@media (min-width: 500px) {
    header h1 { font-size:20pt; }
    body{ font-size: 13pt;}
    header p{ font-size: 15pt;}
    .prerecinfo{ display: flex;
    justify-content: center;}
    .prerecinfo li{ width:50%;
    padding: 0 2em 0 0;}
    header img{ padding-top:0px;
        padding-bottom: 30px;}
    .tip{padding-top: 10px;
    padding-bottom: 10px; }
    .instructions img{ padding-top:5px;
    padding-bottom:15px;}
}

@media (max-width: 640px) {
        .tipimgfloat{ display:none;}
        .tipimgafter{
            display: block;
            margin-left:auto;
            margin-right: auto;
            width: 100%;
            }
}
@media (min-width: 640px) {
    header h1 { font-size:30pt; }
    header p{
        padding-top: 30px;
        padding-bottom: 30px;
    }
    .tipimgfloat{
        float: right;
        width: 300px;
        overflow: hidden;
        padding-left: 20px;
        }
    .tip{
        padding-bottom: 80px;
    }
    .tipimgafter{
        display:none;
    }
}